<div class="bg-light p-5 text-center">
    <h5>Created by SYP</h5>
    <p>📞010-1234-5678</p>
    <button class="btn btn-primary">고객센터</button>
    <button class="btn btn-success">오시는길</button>
</div>
</body>

</html>