{{> /layout/header}}
<div class="container p-5">
  
    <div class="mb-3">
    <a href="/" class="btn btn-secondary">돌아가기</a>
    <a href="#" class="btn btn-warning">수정</a>
    <a href="/" class="btn btn-danger">삭제</a>
    </div>
    <div>글번호:  작성자: </div>
    <div>
        <h2>글 제목</h2><hr>
        <p>내용</p> 

    </div>

    <div class="card">
        <div class="card-body">댓글쓰기
            <form action="/board/save" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <textarea class="form-control" rows="1" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">등록</button>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">댓글리스트
            
        </div>
    </div>
</div>
{{> /layout/footer}}